---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Searches chatGPT Paper">
  <section class="flex flex-wrap gap-10 mt-10 justify-center">
    <Card url="astro-in-brief"/>
  </section>
</Layout>
