---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Searches chatGPT Paper">
	<main class="mx-auto w-10/12 py-10">
		<h1 class="text-gradient text-6xl font-bold mb-1 text-center">Searches chatGPT Paper</h1>
		<p class="w-1/2 mx-auto my-5 text-center">Proyecto personal que tiene como objetivo documentar y compartir las búsquedas más interesantes y relevantes que he realizado con chatGPT. El proyecto es un paper web en el que de manera progresiva se irán documentando dichas búsquedas para que no se pierdan.</p>
		<p class="text-center my-5">by <a class="link link-primary mb-10 text-gradient" href="https://github.com/creativoma/searches-chatgpt-paper">@creativoma</a></p>
		<div class="flex flex-wrap gap-10 justify-center">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</div>
	</main>
</Layout>
