---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Searches chatGPT Paper">
	<main class="mx-auto w-10/12 pt-10">
		<h1 class="text-gradient text-6xl font-bold mb-1 text-center">Searches chatGPT Paper</h1>
		<p class="mx-auto w-full my-5 text-center">Proyecto personal que tiene como objetivo documentar y compartir las búsquedas más interesantes y relevantes que he realizado con chatGPT. El proyecto es un paper web en el que de manera progresiva se irán documentando dichas búsquedas para que no se pierdan.</p>
		<p class="text-center">by <a class="link link-primarytext-gradient" href="https://github.com/creativoma">@creativoma</a></p>
		<section class="flex flex-wrap gap-10 mt-10 justify-center">
			<Card />
			<Card />
			<Card />
			<Card />
		</section>
	</main>
</Layout>
