---
const { url, title, desc } = Astro.props;
---

<div class="card bg-white ml-10 mr-10">
  <div class="card-body">
    <h2 class="card-header">{title}</h2>
    <p
      class="text-content2"
      style="display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;"
    >
      {desc}
    </p>
    <div class="card-footer">
      <button url-post={url} class="btn-secondary btn back-gradient" onclick="window.location.href = '/posts' + this.getAttribute('url-post');">Read More</button>
    </div>
  </div>
</div>

