---
const { url, title, desc } = Astro.props;
---

<div class="card" style="backdrop-filter: blur(1px); background: #ffffff3d;">
  <div class="card-body">
    <h2 class="card-header">{title}</h2>
    <p
      class="text-content2"
      style="display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;"
    >
      {desc}
    </p>
    <div class="card-footer">
      <button url-post={url} class="btn-secondary btn back-gradient">Leer más</button>
    </div>
  </div>
</div>

<script>
  const btnPosts = document.querySelectorAll("[url-post]");

  btnPosts.forEach((element) => {
    element.addEventListener("click", (event) => {
      event.preventDefault();
      const url = element.getAttribute("url-post");
      window.location.href = 'posts' +url;
    });
  });
</script>

