<header class="mx-auto w-11/12 pt-10">
  <h1 class="text-gradient text-6xl font-bold mb-1 text-center">
    Searches chatGPT Paper
  </h1>
  <p class="mx-auto xl:w-2/3 w-10/12 mt-5 text-center">
    Proyecto personal que tiene como objetivo documentar y compartir las
    búsquedas más interesantes y relevantes que he realizado con chatGPT.
    El proyecto es un paper web en el que de manera progresiva se irán
    documentando dichas búsquedas para que no se pierdan.
  </p>
  <p class="text-center">
    by <a
      class="link link-primarytext-gradient"
      href="https://github.com/creativoma">@creativoma</a>
  </p>
</header>
